<section id="banner">
  <div class="content">
    <header>
      <h1><%= @club.name %></h1>
      <p><%= @club.description %></p>
    </header>
    <p>
      <div>
        <span class="notication"><i><b>Notication:</b></i></span>
        <%= @club.notification %>
      </div>
      <div>
        <span class="notication"><i>Money:</i></span>
        <i><%= @club.money %></i>
      </div>
      <div class="raings">
        <%= render "ratings/rating" %>
      </div>
    </p>
    <% if is_management? @club %>
        <li>
          <a href="#detail_club_modal" data-toggle="modal" class="button big icon fa-pencil-square-o"><%= t "edit" %></a>
        </li>
    <% end %><br>
        <%= link_to t("club_albums"), albums_path(id: @club.id), class: "button big icon fa-book" %>
    <% unless is_management? @club %>
    <div class="join_leave_toggle">
      <%= render "user_clubs/form_join_leave" %>
    </div>
    <% end %>
  </div>

  <span class="image object">
    <%= image_tag @club.image %>
    <div class="request_acion">
      <% if is_management? @club %>
      <%= link_to "new event", new_management_event_path(club_id: @club.id),
          class: "button small" %>
        <%= link_to "request to join", management_user_clubs_path(id: @club.id),
          class: "button small" %>
        <%= link_to "request new event", management_event_requests_path(id: @club.id),
      class: "button small" %>
      <% end %>
    </div>
  </span>
</section>

  <%= render "poopups/edit_detail_club" %>

  <%= render "management/events/index" %>
<section>
  <header class="majors">
    <h2>Members</h2>
    <% @club.users.each do |user| %>
        <div>
          <%= link_to user, class: "user_ele" do %>
          <%= image_tag user.avatar, class: "circle" %>
        <p class="inner_circle"><%= user.full_name %></p>
        <% end %>
        </div>
    <% end %>
</header>
</section>






