<section id="banner">
  <div class="content">
    <header>
      <h1><%= @club.name %></h1>
      <p><%= @club.description %></p>
    </header>
    <p>
      <div>
        <span class="notication"><i><b>Notication:</b></i></span>
        <%= @club.notification %>
      </div>
      <div>
        <span class="notication"><i>Money:</i></span>
        <i><%= @club.money %></i>
      </div>
      <div class="raings">
        <%= render "ratings/rating" %>
      </div>
    </p>
    <% if is_management? @club %>
      <ul class="actions">
        <li>
          <a href="#detail_club_modal" data-toggle="modal" class="button big icon fa-pencil-square-o"><%= t "edit" %></a>
        </li>
        <%= link_to "request to join", management_user_clubs_path(id: @club.id),
          class: "button" %>
        <%= link_to "request new event", management_event_requests_path(id: @club.id),
          class: "button" %>
      </ul>
      <div>
        <%= link_to t("club_albums"), management_albums_path(id: @club.id), class: "button big icon fa-book" %>
      </div>
    <% else %>
      <div>
        <%= link_to t("club_albums"), albums_path(id: @club.id), class: "button big icon fa-book" %>
      </div><br>
    <% end %>
    <div class="join_leave_toggle">
      <%= render "user_clubs/form_join_leave" %>
    </div>
  </div>
  <span class="image object">
    <%= image_tag @club.image %>
  </span>
</section>
  <%= render "poopups/edit_detail_club" %>
  <%= render "management/events/index" %>
